body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px;
}

.introduction {
    font-size: small;
}

.binary, .symbol {
    font-size: small;
    line-height: normal;
}

.art {
    font-size: small;
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}